@import "style.css";

.clock {
    display: flex;
    gap: 10px
}

/* 当宽度小于 900px 时隐藏 */
@media (max-width: 990px) {
    .clock {
        display: none;
    }
}

/* 当宽度介于 901px 到 1099px 时显示 */
@media (min-width: 991px) and (max-width: 1099px) {
    .clock {
        display: flex;
    }
}

/* 当宽度介于 1100px 到 1200px 时隐藏 */
@media (min-width: 1100px) and (max-width: 1250px) {
    .clock {
        display: none;
    }
}

/* 当宽度大于 1200px 时显示 */
@media (min-width: 1251px) {
    .clock {
        display: flex;
    }
}





.clock .divider {
    font-size: 66px;
    line-height: 102px;
    font-style: normal;
    color: #fff;
}

.clock .flip {
    position: relative;
    width: 55px;
    height: 100px;
    margin: 2px;
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    background: #131418;
    border: 1px solid #222121;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(54, 54, 54, .5)
}

.clock .flip .digital::before, .clock .flip .digital::after {
    position: absolute;
    content: attr(data-number);
    left: 0;
    right: 0;
    color: #fff;
    background: rgb( 27, 29, 31);
    overflow: hidden;
    -webkit-perspective: 160px;
    perspective: 160px
}

.clock .flip .digital::before {
    top: 0;
    bottom: 50%;
    border-bottom: 1px solid #666;
    border-radius: 10px 10px 0 0
}

.clock .flip .digital::after {
    top: 50%;
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 10px 10px
}

.clock .flip .back::before, .clock .flip .front::after {
    z-index: 1
}

.clock .flip .back::after {
    z-index: 2
}

.clock .flip .front::before {
    z-index: 3
}

.clock .flip .back::after {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotateX(.5turn);
    transform: rotateX(.5turn)
}

.clock .flip.running .front::before {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: frontFlipDown .6s ease-in-out;
    animation: frontFlipDown .6s ease-in-out;
    box-shadow: 0 -2px 6px rgba(255, 255, 255, .3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.clock .flip.running .back::after {
    -webkit-animation: backFlipDown .6s ease-in-out;
    animation: backFlipDown .6s ease-in-out
}

@-webkit-keyframes frontFlipDown {
    to {
        -webkit-transform: rotateX(.5turn);
        transform: rotateX(.5turn)
    }
}

@keyframes frontFlipDown {
    to {
        -webkit-transform: rotateX(.5turn);
        transform: rotateX(.5turn)
    }
}

@-webkit-keyframes backFlipDown {
    to {
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }
}

@keyframes backFlipDown {
    to {
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }
}